button,
fieldset,
input {
  all: unset;
}

.dialogOverlay {
  position: fixed;
  inset: 0;
  opacity: 0.8;
  background-color: inherit;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light-500);
  padding: 20px;
}

.title {
  margin: 0;
}

.close {
  color: var(--color-dark-100);
  cursor: pointer;
}

.dialogContent {
  border: 1px solid var(--color-dark-100);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  border-radius: 4px;
  background-color: var(--color-light-100);

  @media screen and (width >= 768px) {
    min-width: 400px;
  }

  &:focus {
    outline: none;
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
