.button {
  color: var(--color-danger-500);
  padding: 5px;

  &:hover {
    color: var(--color-danger-600);
  }

  &:focus-visible {
    color: var(--color-danger-700);
  }

  &:active {
    color: var(--color-danger-700);
  }

  &:disabled {
    color: var(--color-danger-100);
  }
}
