:root {
  // accent
  --color-accent-100: #d1e1ff;
  --color-accent-200: #aabfff;
  --color-accent-500: #3f51b5;
  --color-accent-600: #1a237e;
  --color-accent-700: #000051;

  // danger
  --color-danger-100: #ffb2ca;
  --color-danger-200: #ff79b0;
  --color-danger-500: #f50057;
  --color-danger-600: #9c0030;
  --color-danger-700: #6a001c;

  // light
  --color-light-100: #fff;
  --color-light-300: #f9f7ff;
  --color-light-500: #f4f2fa;
  --color-light-700: #dcdae0;
  --color-light-900: #c3c1c7;

  // dark
  --color-dark-100: #808080;
  --color-dark-300: #4c4c4c;
  --color-dark-500: #333;
  --color-dark-700: #171717;
  --color-dark-900: #000;
}
